<p id="notice"><%= notice %></p>

<p>
  <strong>Box score id:</strong>
  <%= @box_score_entry.box_score_id %>
</p>

<p>
  <strong>Pid espn:</strong>
  <%= @box_score_entry.pid_espn %>
</p>

<p>
  <strong>Fname:</strong>
  <%= @box_score_entry.fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @box_score_entry.lname %>
</p>

<p>
  <strong>Status:</strong>
  <%= @box_score_entry.status %>
</p>

<p>
  <strong>Min:</strong>
  <%= @box_score_entry.min %>
</p>

<p>
  <strong>Fgm:</strong>
  <%= @box_score_entry.fgm %>
</p>

<p>
  <strong>Fga:</strong>
  <%= @box_score_entry.fga %>
</p>

<p>
  <strong>Tpm:</strong>
  <%= @box_score_entry.tpm %>
</p>

<p>
  <strong>Tpa:</strong>
  <%= @box_score_entry.tpa %>
</p>

<p>
  <strong>Ftm:</strong>
  <%= @box_score_entry.ftm %>
</p>

<p>
  <strong>Fta:</strong>
  <%= @box_score_entry.fta %>
</p>

<p>
  <strong>Oreb:</strong>
  <%= @box_score_entry.oreb %>
</p>

<p>
  <strong>Reb:</strong>
  <%= @box_score_entry.reb %>
</p>

<p>
  <strong>Ast:</strong>
  <%= @box_score_entry.ast %>
</p>

<p>
  <strong>Stl:</strong>
  <%= @box_score_entry.stl %>
</p>

<p>
  <strong>Blk:</strong>
  <%= @box_score_entry.blk %>
</p>

<p>
  <strong>To:</strong>
  <%= @box_score_entry.to %>
</p>

<p>
  <strong>Pf:</strong>
  <%= @box_score_entry.pf %>
</p>

<p>
  <strong>Plus minus:</strong>
  <%= @box_score_entry.plus_minus %>
</p>

<p>
  <strong>Pts:</strong>
  <%= @box_score_entry.pts %>
</p>

<%= link_to 'Edit', edit_box_score_entry_path(@box_score_entry) %> |
<%= link_to 'Back', box_score_entries_path %>
